<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:http="http://cxf.apache.org/transports/http/configuration" 
       xmlns:jaxws="http://cxf.apache.org/jaxws" 
       xmlns:cxf="http://cxf.apache.org/core" 
       xmlns:p="http://cxf.apache.org/policy" 
       xmlns:sec="http://cxf.apache.org/configuration/security" 
       xsi:schemaLocation=" 
          http://www.springframework.org/schema/beans           http://www.springframework.org/schema/beans/spring-beans.xsd 
          http://cxf.apache.org/jaxws                           http://cxf.apache.org/schemas/jaxws.xsd 
          http://cxf.apache.org/transports/http/configuration   http://cxf.apache.org/schemas/configuration/http-conf.xsd 
          http://cxf.apache.org/configuration/security          http://cxf.apache.org/schemas/configuration/security.xsd 
          http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
          http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd">

	<!-- CLIENTS -->
	<jaxws:client id="authenticationService"
	          serviceClass="net.sb.gecomp.commons.services.IAuthenticationService"
	          address="http://localhost:8080/gecompsrv/AuthenticationService" />
    <!-- CLIENTS -->
                  
	<!-- BRIDGES -->
	<bean id="authenticationBridge" class="net.sb.gecomp.web.bridges.authentication.AuthenticationBridge">
		<property name="service"><ref bean="authenticationService" /></property>
	</bean>
	<!-- BRIDGES -->
	
	<!-- CONTROLLERS -->
	<!--<bean id="atletaController" class="net.sb.gecomp.web.controllers.atleti.AtletaController" />-->
	<!-- CONTROLLERS -->
	
	<!-- DELEGATES -->
	<!--<bean id="atletaDelegate" class="net.sb.gecomp.web.delegates.atleti.AtletaDelegate">
		<property name="bridge"><ref bean="atletaBridge" /></property>
		<property name="controller"><ref bean="atletaController" /></property>
	</bean>-->
	<bean id="loginDelegate" class="net.sb.gecomp.web.delegates.authentication.LoginDelegate">
		<property name="bridge"><ref bean="authenticationBridge" /></property>
	</bean>
	<!-- DELEGATES -->
	
	<!-- EXECUTERS -->
	<!--<bean id="atletaExecuter" class="net.sb.gecomp.web.executers.atleti.AtletaExecuter">
		<property name="delegate"><ref bean="atletaDelegate" /></property>
	</bean>
	<bean id="InserisciAtletaExecuter" class="net.sb.gecomp.web.executers.atleti.InserisciAtletaExecuter">
		<property name="delegate"><ref bean="atletaDelegate" /></property>
	</bean>-->
	<!-- EXECUTERS -->

</beans>
