<?xml version="1.0" encoding="UTF-8"?>
<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements. See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership. The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied. See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<!-- START SNIPPET: beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<import resource="classpath:net/sb/gecomp/srv/orm/ibatis/gecomp_orm_context.xml" />
	
	<bean id="authenticationSrv" class="net.sb.gecomp.srv.services.authentication.AuthenticationService">
		<property name="dao"><ref bean="UserDao" /></property>
	</bean>
	<bean id="societaSrv" class="net.sb.gecomp.srv.services.societa.SocietaService">
		<property name="dao"><ref bean="SocietaDao" /></property>
	</bean>
	<bean id="competizioneSrv" class="net.sb.gecomp.srv.services.competizioni.CompetizioneService">
		<property name="dao"><ref bean="CompetizioneDao" /></property>
	</bean>
	<bean id="propertiesSrv" class="net.sb.gecomp.srv.services.properties.PropertiesService">
		<property name="dao"><ref bean="PropertiesDao" /></property>
	</bean>
	<bean id="atletaSrv" class="net.sb.gecomp.srv.services.atleti.AtletaService">
		<property name="dao"><ref bean="AtletaDao" /></property>
	</bean>
	<bean id="categoriaGaraSrv" class="net.sb.gecomp.srv.services.categorie.CategoriaGaraService">
		<property name="dao"><ref bean="CategoriaGaraDao" /></property>
	</bean>
	<bean id="categoriaSrv" class="net.sb.gecomp.srv.services.categorie.CategoriaService">
		<property name="dao"><ref bean="CategoriaDao" /></property>
	</bean>
	<bean id="garaSrv" class="net.sb.gecomp.srv.services.gara.GaraService">
		<property name="dao"><ref bean="GaraDao" /></property>
		<property name="categoriaGaraDao"><ref bean="CategoriaGaraDao" /></property>
	</bean>
	<bean id="iscrizioneSrv" class="net.sb.gecomp.srv.services.iscrizioni.IscrizioneService">
		<property name="dao"><ref bean="IscrizioneDao" /></property>
	</bean>
	<bean id="prestazioneSrv" class="net.sb.gecomp.srv.services.prestazioni.PrestazioneService">
		<property name="dao"><ref bean="PrestazioneDao" /></property>
	</bean>
	<bean id="tipoPrestazioneSrv" class="net.sb.gecomp.srv.services.tipiprestazione.TipoPrestazioneService">
		<property name="dao"><ref bean="TipoPrestazioneDao" /></property>
	</bean>
	<bean id="tipoMisuraSrv" class="net.sb.gecomp.srv.services.tipimisure.TipoMisuraService">
		<property name="dao"><ref bean="TipoMisuraDao" /></property>
	</bean>

							
	<jaxws:endpoint id="authenticationService" 	implementor="#authenticationSrv" 	address="/AuthenticationService" />
	<jaxws:endpoint id="societaService" 		implementor="#societaSrv" 			address="/SocietaService" />
	<jaxws:endpoint id="competizioneService" 	implementor="#competizioneSrv" 		address="/CompetizioneService" />
	<jaxws:endpoint id="propertiesService" 		implementor="#propertiesSrv" 		address="/PropertiesService" />
	<jaxws:endpoint id="atletaService" 			implementor="#atletaSrv" 			address="/AtletaService" />
	<jaxws:endpoint id="categoriaGaraService" 	implementor="#categoriaGaraSrv" 	address="/CategoriaGaraService" />
	<jaxws:endpoint id="categoriaService" 		implementor="#categoriaSrv" 		address="/CategoriaService" />
	<jaxws:endpoint id="garaService" 			implementor="#garaSrv" 				address="/GaraService" />
	<jaxws:endpoint id="iscrizioneService" 		implementor="#iscrizioneSrv" 		address="/IscrizioneService" />
	<jaxws:endpoint id="prestazioneService" 	implementor="#prestazioneSrv" 		address="/PrestazioneService" />
	<jaxws:endpoint id="tipoPrestazioneService" implementor="#tipoPrestazioneSrv" 	address="/TipoPrestazioneService" />
	<jaxws:endpoint id="tipoMisuraService" 		implementor="#tipoMisuraSrv" 		address="/TipoMiuraService" />
	
</beans>
<!-- END SNIPPET: beans -->
